.cart-item{
    padding: 0 35px 3px 0;
    margin: 0 0 5px;
    font-size: 0;
    border-bottom: 1px dashed #0fc0c8;
    text-align: left;
    position: relative;
    min-height: 40px;
}
.cart-item span{
    display: inline-block;
    font-size: 16px;
}
.cart-item span:first-child{
    width: 80%;
}
.cart-item span:last-child{
    width: 20%;
    text-align: right;
}
.cart-item button{
    font-size: 22px;
    line-height: 1;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 0;
    width: 30px;
    height: 30px;
    color: #8b0000;
    border:none;
    background: transparent;
    box-shadow: 0px 1px 1px 0px rgba(27, 183, 200, 0.75);
}